@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Josefin+Slab:700');
html, body {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: white;
  background-color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}


#contents,
#message,
#spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}

#message, #spinner {
  background-color: rgba(255,255,255,0.5);
}
#message .center,
#spinner .center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#message .center {
  top: 35%;
}
#spinner .center {
  top: 55%;
  width: 4em;
  height: 4em;
}

#contents {
  overflow: auto;
}
#contents .layer1 {
  margin: 1em 2em 3em 2em;
}
#contents .breadcrumb .chunk {
  display: inline-block;
  background: #666666;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
  padding: 0.25em;
  color: white;
  font-size: 0.75em;
}
#contents .mainTable {
  width: 100%;
  overflow: hidden;
}
#contents .mainTable .histogram {
  position: relative;
  padding: 0px;
}
#contents .mainTable .histogram .bar {
  position: absolute;
  bottom: 0px;
  border: 1px solid white;
  background-color: #333333;
}
