package-lock.json

# we want to include specific files inside node_modules and ignore the rest...

# unignore node_modules dir itself
!node_modules/
node_modules/*

!node_modules/origraph/
node_modules/origraph/*
!node_modules/origraph/dist/
node_modules/origraph/dist/*
!node_modules/origraph/dist/origraph.umd.js

!node_modules/@origraph/
node_modules/@origraph/*

!node_modules/@origraph/twitter-import/
node_modules/@origraph/twitter-import/*
!node_modules/@origraph/twitter-import/dist/
node_modules/@origraph/twitter-import/dist/*
!node_modules/@origraph/twitter-import/dist/origraphTwitterImport.umd.js

!node_modules/@origraph/origraph-js-dri/
node_modules/@origraph/origraph-js-dri/*
!node_modules/@origraph/origraph-js-dri/index.js

!node_modules/uki/
node_modules/uki/*
!node_modules/uki/dist/
node_modules/uki/dist/*
!node_modules/uki/dist/uki.esm.js

!node_modules/d3/
node_modules/d3/*
!node_modules/d3/dist/
node_modules/d3/dist/*
!node_modules/d3/dist/d3.min.js

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

!node_modules/less/
node_modules/less/*
!node_modules/less/dist/
node_modules/less/dist/*
!node_modules/less/dist/less.min.js

!node_modules/less/
node_modules/less/*
!node_modules/less/dist/
node_modules/less/dist/*
!node_modules/less/dist/less.min.js

!node_modules/handsontable/
node_modules/handsontable/*
!node_modules/handsontable/dist/
node_modules/handsontable/dist/*
!node_modules/handsontable/dist/handsontable.full.min.js
!node_modules/handsontable/dist/handsontable.full.min.css
