@import './colors.less';
@import './measurements.less';

#tooltip {
  .vertical-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 21em;

    a {
      background-color: @lightBackgroundColor;
      color: @textColor;
      padding: 12px;
      margin: 9px 5px 5px 5px;
      cursor: pointer;

      .icon {
        width: @buttonImageSize;
        height: @buttonImageSize;
        filter: @textColorImageFilter;
        padding-right: @buttonImageSize / 2;
      }

      label {
        white-space: nowrap;
        vertical-align: 0.35em;
      }
    }
    a:hover {
      background-color: @darkestBackgroundColor;
      color: @invertedTextColor;
      .icon {
        filter: @invertedTextImageFilter;
      }
    }
    a.selected {
      background-color: @invertedBackgroundColor;
      color: @invertedTextColor;
    }
    a.disabled {
      background-color: @darkBackgroundColor;
      color: @separatorColor;
      .icon {
        filter: @separatorImageFilter;
      }
    }
  }
}
