@borderRadius: 0.5em;

/* Visual results of GoldenLayout hard-coding */
@titleBarSize: 19px;
@titleBarFontSize: 12px;
@titleBarPadding: 3px 3px 2px 3px;
@titleBarFontPadding: 4px 3px 1px 1px;
@titleBarButtonSize: @titleBarFontSize;
@titleBarButtonPadding: (@titleBarSize - @titleBarButtonSize) / 2;

@tableHeaderFontPadding: 3px 0.25em 0px 0.25em;
@tableHeaderButtonSize: @titleBarButtonSize;
@tableHeaderButtonPadding: 0 0.25em 0 0.25em;

@buttonSize: 2.5em;
@buttonImageSize: 1.5em;
@buttonPadding: 0.25em;
@buttonTextPadding: 1em;

@smallButtonSize: 1.5em;
@smallButtonImageSize: 0.75em;
@smallButtonPadding: 0.25em;
@smallButtonTextPadding: 0.25em;

@menuSize: @buttonSize + 2 * @buttonPadding;
@fullMenuSize: 30em;
@menuPadding: 0.25em;

@contentPadding: 0.25em;
