@import './colors.less';
@import './measurements.less';

#menu {
  .menuOption {
    position: relative;
    display: block;
    left: 0px;
    width: calc(100% - 2.5em);
  }
  &.expanded .menuOption,
  &.expanded .menuOptionContent {
    margin-left: @buttonSize;
  }
  .menuSummary {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: @buttonPadding;
    margin-left: @buttonPadding;
    .menuLabel {
      user-select: none;
      cursor: pointer;
      padding-left: 1em;
    }
    .checkmark {
      width: @buttonImageSize;
      height: @buttonImageSize;
      padding-left: 1em;
      filter: @textColorImageFilter;
    }
  }
  .menuOptionContent {
    padding: @menuPadding @menuPadding 0em @menuPadding;

    .contextSwitches .switch {
      display: block;
    }

    .lastFiles {
      .file {
        min-height: @buttonSize;
        margin: @buttonPadding 0;
        display: flex;
        align-items: center;

        .filename {
          max-width: 10em;
          min-width: 10em;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
          margin-right: 0.25em;
        }
        .spinner {
          width: @buttonImageSize;
          height: @buttonImageSize;
          margin-right: 0.25em;
        }
      }
    }

    .option {
      display: block;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      label {
        margin-right: 0.25em;
      }
    }
  }
}
