@import '../measurements.less';

.RawDataView {
  .summary {
    display: flex;
    align-items: center;
    & > * {
      margin: 0.25em;
    }
    .type img {
      width: @smallButtonImageSize;
      height: @smallButtonImageSize;
    }
  }
}
