.NodeLinkDD .entity .border {
  stroke: black;
  stroke-width: 1px;
  fill: rgba(0,50,0,0.1);
}
.NodeLinkDD .arc path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
.NodeLinkDD #ghostNodes .node {
  fill: #1b9e77;
}
.NodeLinkDD #ghostNodes .node:hover {
  fill: #d95f02;
}
.NodeLinkDD #ghostEdges .edge {
  stroke-width: 2;
  stroke: #7570b3;
}
.NodeLinkDD #ghostEdges .edge:hover {
  stroke: #d95f02;
}
