@import './colors.less';
@import './measurements.less';

#menu {
  .menuOption {
    position: relative;
    display: block;
    left: 0px;
    width: 100%;
  }
  .menuSummary {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: @buttonPadding;
    margin-left: @buttonPadding;
    .menuLabel {
      user-select: none;
      cursor: pointer;
      padding-left: 1em;
    }
    .checkmark {
      width: @buttonImageSize;
      height: @buttonImageSize;
      padding-left: 1em;
      filter: @accentImageFilter;
    }
  }
  .menuOptionContent {
    padding: @menuPadding @menuPadding 0em @menuPadding;
  }
}
