#menu {
  .menuOption {
    position: relative;
    display: block;
    left: 0px;
    width: 100%;
  }
  .menuSummary {
    display: flex;
    align-items: center;
    margin-top: @buttonPadding;
    margin-left: @buttonPadding;
    .menuLabel {
      padding-left: 1em;
    }
  }
  .menuOptionContent {
    padding: @menuPadding @menuPadding 0em @menuPadding;
  }
}
