@import '../colors.less';

.AttributeSummaryView {
  .axis {
    line, path {
      stroke: @separatorColor;
    }
    text {
      fill: @lightBackgroundColor;
    }
  }
  .bars {
    .bar {
      fill: @accentColor;
    }
  }
}
