.targetTableLabel {
  position: absolute;
  bottom: 0.5em;
}
.ConnectMenu {
  position: absolute;
  top: 4em;
  right: 1em;
  left: 1em;
  bottom: 4em;

  /* Stuff that is pertinent to / overrides handsontable: */
  .sourceTable,
  .targetTable {
    overflow: hidden;

    .handsontable .htDimmed {
      background-color: @lightBackgroundColor;
      color: @textColor;
    }
    .handsontable .ht__active_highlight,
    .handsontable th {
      background-color: @backgroundColor;
      color: @textColor;
      user-select: none;
    }
    .ht_clone_top tr:first-child > th,
    .ht_master tr:first-child > td {
      border-top: 1px solid @separatorColor;
    }
    .ht_clone_top tr > th:first-child,
    .ht_master tr > td:first-child {
      /* blend the ID column in with the background*/
      border-left: 1px solid @lightBackgroundColor;
      border-top: 1px solid @lightBackgroundColor;
      border-bottom: 1px solid @lightBackgroundColor;
      color: @lightTextColor;
      text-align: right;
    }
    .ht_master tr > td {
      border-bottom: 1px solid @separatorColor;
    }
    .ht_clone_top tr > th,
    .ht_clone_top tr > th:last-child,
    .ht_master tr > td {
      border-right: 1px solid @separatorColor;
    }
  }

  .sourceTable,
  .targetTable {
    background-color: @backgroundColor;

    .ht_clone_top tr > th {
      cursor: pointer;
    }
    .ht_clone_top tr > th.selected {
      background-color: @selectionColor;
      border: 1px solid @selectionColor;
      color: @invertedTextColor;
    }
  }

  .sourceTable {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: calc(50% + 2.5em);
  }
  .connections {
    position: absolute;
    top: calc(50% - 2.5em);
    left: 0px;

    path {
      fill: none;
      stroke: fade(@separatorColor, 10%);
      stroke-width: 2px;

      &.selected {
        stroke: @selectionColor;
      }
    }
  }
  .targetTable {
    position: absolute;
    top: calc(50% + 2.5em);
    left: 0;
    right: 0;
    bottom: 0;
  }
}
