@import '../colors.less';
@import '../measurements.less';

#overlay {
  .DeriveModal {
    position: absolute;
    top: 1em;
    bottom: 5em;
    left: 1em;
    right: 1em;
    display: flex;
    align-items: stretch;

    .templateView,
    .codeView,
    .docsView {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 50%
    }

    .collapseTemplate,
    .collapseDocs {
      width: @smallButtonSize;
      margin: 0 1em;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .templateView {
      position: relative;
      display: flex;
      flex-direction: column;

      & > div {
        flex-grow: 1;
      }

      .modelView {
        overflow: auto;

        .lightLinkLayer path {
          fill: none;
          stroke: @separatorColor;
          stroke-width: 1px;
          opacity: 0.5;
        }
        .activeLinkLayer path {
          fill: none;
          stroke: @invertedTextColor;
          stroke-width: 5px;
        }
        .classLayer {
          .class {
            opacity: 0.5;
            text {
              fill: @invertedTextColor;
            }
            &.active,
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
            &.focused path,
            &:hover path {
              stroke-width: 3px;
              stroke: @invertedTextColor;
            }
          }
        }
      }
      .breadcrumb {
        margin: 0.5em 0;
        .class {
          display: inline-block;
          & > div {
            display: inline-block;
            white-space: nowrap;
          }
          .className {
            cursor: pointer;
          }
        }
      }
      .selectorView {
        height: 12em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        select {
          width: 12em;
          max-height: 100%;
        }
        // Because flex layout messes with our custom button sizes, we
        // have to manually specify this one:
        .button {
          min-width: 8em;
        }
      }
    }
    .codeView {
      position: relative;
      #code {
        margin-top: 1em;
        position: relative;
        top: 0px;
        bottom: 0px;
        width: 100%;
      }
    }
    .docsView {
      overflow: auto;
    }
  }
}
