.lm_content {
  .overlay {
    position: absolute;
    z-index: 23;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    img {
      position: absolute;
      left: calc(50% - @buttonSize);
      top: calc(50% - @buttonSize);
      width: @buttonSize;
      height: @buttonSize;
    }
  }
}
