@import '../colors.less';
@import '../measurements.less';

#modal.HtmlModal {
  margin: 1em;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  min-width: 25em;

  .modalContent {
    margin-top: 1em;
    max-width: 30em;
    bottom: calc(2em + @buttonSize);
    overflow-y: auto;
  }

  h1 {
    text-align: center;
    img {
      height: 2em;
      vertical-align: middle;
    }
  }

  .logos {
    display: flex;
    justify-content: space-around;
    img {
      height: 2em;
    }
    a {
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }

  .dialogButtons {
    margin: 1em;
    height: @buttonSize;

    .checkbox {
      flex: 1 1 auto;
      label {
        margin-left: 0.5em;
      }
    }
  }
}
