@import '../colors.less';
@import '../measurements.less';

.InstanceView {
  .nodeLayer {
    .node {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      circle {
        stroke-width: 2px;
        stroke: @lightBackgroundColor;
      }
      &.highlighted circle {
        stroke-width: 4px;
        stroke: @textColor;
      }
      &.dummy {
        cursor: default;

        circle {
          fill: none;
          stroke: none;
        }
      }
      text {
        display: none;
      }
      &:hover text,
      &.highlighted text,
      &.highlightedNeighbor text {
        display: unset;
      }
    }
  }

  .edgeLayer {
    .edge {
      .line {
        fill: none;
        stroke-width: 2px;
      }
      &.highlighted .line {
        stroke-width: 4px;
        stroke: @textColor;
      }
    }
  }

  .controls {
    position: absolute;
    bottom: 0;
    right: 0;
    .button {
      margin: @smallButtonPadding;
    }
  }
}
