@import '../colors.less';

.NetworkModelView {
  user-select: none;

  .objectLayer {
    .object {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      .objectShape {
        fill: @darkBackgroundColor;
        &.selected {
          fill: @selectionColor;
        }
      }
      .textGroup {
        rect {
          fill: fade(@backgroundColor, 50%);
        }
        text {
          text-anchor: middle;
        }
      }
      .menuIcon {
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
