@import '../colors.less';

.NetworkModelView {
  user-select: none;

  .lineLayer {
    path {
      fill: none;
      stroke: @darkBackgroundColor;
      stroke-width: 0.5em;
    }
    .connection.dragging {
      stroke: @textColor;
    }
    .connection.connecting {
      stroke: @darkTextColor;
    }
    .connection.disconnecting {
      stroke-dasharray: 3px 2px;
    }
  }

  .objectLayer {
    .object {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      .objectShape {
        fill: @darkBackgroundColor;
      }

      &:hover .objectShape,
      &.connecting .objectShape {
        fill: @darkestBackgroundColor;
      }
      &.Edge .objectShape {
        fill: none;
        stroke-width: 0.5em;
        stroke: @darkBackgroundColor;
      }
      &.Edge:hover .objectShape,
      &.Edge.connecting .objectShape {
        stroke: @darkestBackgroundColor;
      }
      &.Edge:hover.cantConnect .objectShape {
        stroke: @darkBackgroundColor;
      }

      .textGroup {
        rect {
          fill: fade(@backgroundColor, 50%);
        }
        text {
          text-anchor: middle;
        }
      }
      .typeIcon {
        opacity: 0.5;
      }
      .menuIcon {
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .handleLayer {
    .handle {
      cursor: grab;
      &:active {
        cursor: none;
      }
      .halo {
        fill: transparent;
      }
      .anchor {
        fill: @lightTextColor;
        &.dragging,
        &:hover {
          fill: @textColor;
        }
        &.connecting {
          fill: @darkTextColor;
        }
        &.disconnecting {
          fill: @lightTextColor;
        }
      }
    }
  }

  svg.hideCursor {
    cursor: none;
    .objectLayer .object,
    .objectLayer .object:active,
    .objectLayer .object .menuIcon {
      cursor: none;
    }
  }
}
