@import '../colors.less';

.NetworkModelView {
  user-select: none;

  .lineLayer {
    path {
      fill: none;
      stroke: @darkBackgroundColor;
      stroke-width: 0.3em;
    }
    .connection.targeted {
      stroke-dasharray: 3px 2px;
    }
  }

  .objectLayer {
    .object {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      .objectShape {
        fill: @darkBackgroundColor;
        &:hover {
          fill: @darkestBackgroundColor;
        }
      }
      &.targeted {
        .objectShape {
          fill: @selectionColor;
        }
      }
      .textGroup {
        rect {
          fill: fade(@backgroundColor, 50%);
        }
        text {
          text-anchor: middle;
        }
      }
      .typeIcon {
        opacity: 0.5;
      }
      .menuIcon {
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .handleLayer {
    .handle {
      cursor: grab;
      &:active {
        cursor: none;
      }
      .halo {
        fill: transparent;
      }
      .anchor {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  svg.hideCursor {
    cursor: none;
    .objectLayer .object,
    .objectLayer .object:active,
    .objectLayer .object .menuIcon {
      cursor: none;
    }
  }
}
