@import '../colors.less';
@import '../measurements.less';

.lm_items .RawDataView {
  .row {
    position: relative;
    user-select: none;
    .selectionTarget {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 2em;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.2;
        cursor: pointer;
        background: @selectionColor;
      }
    }
    &.selected > .selectionTarget {
      background: @selectionColor;
      color: @darkBackgroundColor;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
    .summary {
      /* left is set in JS, controlling the whole layout */
      position: relative;
      padding: 0.25em 0;
      display: flex;
      align-items: center;
      background: none;
      pointer-events: none;
      & > * {
        pointer-events: initial;
      }

      .label {
        position: absolute;
        right: 100%;
        text-align: right;
        margin-right: 0.25em;
      }
      .label, .value {
        max-width: 30em;
        min-width: 10em;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .type img {
        width: @smallButtonImageSize;
        height: @smallButtonImageSize;
        filter: @textColorImageFilter;
      }
      .button, .value, .type {
        margin: 0 0.25em;
      }
    }
    &.selected > .summary {
      .type img {
        filter: @backgroundImageFilter;
      }
    }
  }
}
