@import '../colors.less';

.TableView {
  .special {
    background-color: @separatorColor;
    color: @lightTextColor;
  }
  .selected {
    background-color: @selectionColor;
  }
  .special.selected {
    background-color: @LightYellow;
  }
}
